html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.85);
  /* this is awesome but not very performant */
  backdrop-filter: blur(5px);
  color: rgba(255, 255, 255, 0.75);
}

label,
button,
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.close {
  margin: 0.5rem 0.25rem;
  width: 38px;
  background: none;
  color: white;
  border: none;
  font-size: 36px;
  line-height: 36px;
  cursor: pointer;
}

.home-btn,
.restart-btn {
  cursor: pointer;
  opacity: 0.75;
  height: 38px;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
}

.dashboard {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.container {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.dashboard-section {
  padding: 0.75rem;
}

.bundling-strategy {
  margin-top: 3rem;
}

.bundling-strategy .assigner {
  display: block;
  padding: 0.25rem 0;
}

.connection-status span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.connection-status.connected span {
  color: green;
}

.connection-status.connected {
  background: rgba(0, 255, 0, 0.1);
}

.connection-status.disconnected span {
  color: red;
}

.connection-status.disconnected {
  background: rgba(255, 0, 0, 0.1);
}

.file-item {
  padding-left: 1rem;
  margin: 0.5rem 0;
  font-size: 12px;
}

.dashboard-section.log {
  overflow: auto;
  padding-right: 0;

  display: flex;
  flex-direction: column;
}

.log-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.log-title {
  padding: 0.75rem 0;
}

.message {
  margin: 0.5rem 0;
  font-size: 12px;
}

.message.warn {
  color: yellow;
}

.message.error {
  color: red;
  font-weight: bold;
}

.timestamp {
  opacity: 0.5;
}

.message:first-child {
  margin-top: 0;
}

.message-text,
.error-message,
.error-stack {
  margin: 0;
  white-space: pre-wrap;
}

.build-failure {
  color: red;
  font-weight: bold;
}

.build-success {
  color: green;
  font-weight: bold;
}
